<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Desafío Hípico</h1>
            <h3 class="mb-5">
                <em>Participa en las mejores contiendas de Carreras de Caballos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empieza YA!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>