<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Confirma tu cuenta</h3>
        </div>
        <img src="/img/logo.png" alt="Desafios Hipicos" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/confirm-account/verification/{{userNew._id}}?_method=PUT" method="POST">
            <div class="form-group">
              <input type="text" name="code" placeholder="Ingresa el codigo!!" class="form-control" autofocus>
            </div>
            <button class="btn btn-primary btn-block">
              Verificar
            </button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>